@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700;800&family=Rubik:wght@300;400;500;600&display=swap');
/*Fonts
-Poppins
-Rubik
*/

:root {
    --primary-color: #ff523b;
    --secondary-color: #794afa;
    --secondary-dark-color: #453c5c;

    --white-color: #ffffff;
    --light-bg-color: #f2f3f5;
    --light-text-color: #7c899a;
    --border-color: #e5e8ec;
    --dark-color: #0a021c;

    --font-small: 13px;
    --font-smaller: 11px;

    --percent100: 100%;
    --percent50: 50%;

    --fw3: 300;
    --fw5: 500;
    --fw6: 600;
    --fw7: 700;
    --fw8: 800;

    --trans-background-color: background-color .3s color .3s;
    --tans-background: background-color .3s;
    --trans-color: color .3s;
}

/* Navigation */
*{
    margin: 0;
    /* margin-top:0; */
    /* margin-bottom:0; */
    /* padding:0; */
}

*,::before,::after {
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: var(--dark-color);
    background-color: var(--white-color);
}
a {
    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
}

ul {
    list-style: none;
}

img {
    max-width: var(--percent100);
    vertical-align: middle;
}

.logo {
    max-width: 350px;
    padding:30px;
}
strong {
    font-weight: var(--fw8);
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
input::placeholder {
    font: inherit;
}

h1,h2,h3,h4 {
    font-family: 'Poppins';
}

h1 {
    font-size: calc(1.3em + 1vw);
    font-weight: var(--fw8);
    line-height: 1;
}
h2 {
    font-size: 2.5em;
}
h3 {
    font-size: 1.2em;
    font-weight: var(--fw7);
}
h4 {
    font-size: 1em;
    font-weight: var(--fw6);
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 0.938em;
}

.column {
    margin-left: -0.938em;
    margin-right: -0.938em;
}

.column .row {
    padding: 0 0.938em;
}

.flexwrap {
    display: flex;
    flex-wrap: wrap;
}

.flexcenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexitem {
    display: flex;
    align-items: center;
}

.flexcol {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.main-links a:hover {
    color: var(--secondary-color);
}

.second-links a:hover {
    color: var(--light-text-color);
}

.icon-small, .icon-large {
    display: flex;
    align-items: center;
    padding: 0 0.25em;
    font-weight: normal;
}
.icon-small {
    font-size: 1.25em;
    margin: auto;
}
.icon-large {
    font-size: 2.3em;
    padding: 0 0.75em 0 0;
}

/*HEADER*/
header {
    background-color:#71DD80;
}
header li > a {
    display: flex;
    position: relative;
    line-height: inherit;
    transition: var(--trans-color);
}

/* .header-top, .wrapper {
    font-size: var(--font-small);
    font-weight: var(--fw3);
    justify-content: space-between;
    line-height: 42px;
} */

.header-top {
    font-size: var(--font-small);
    font-weight: var(--fw3);
    justify-content: space-between;
    line-height: 42px;
}

.wrapper {
    font-size: var(--font-small);
    font-weight: var(--fw3);
    justify-content: space-between;
    line-height: 42px;
}

/* .header-top, .wrapper ul {
    gap: 2em;
} */
.header-top li {
    position: relative;
}
.header-top ul ul {
    position: absolute;
    left: -1em;
    right: -1em;
    line-height: 2em;
    background-color: var(--white-color);
    border: 1px solid var(--border-color);
    z-index: 1;
}

.header-nav .right {
    position:relative;
    margin-left: auto;
}

@media screen and (min-width: 992px) {
    .container {
        padding: 0 2em;
    }
}

/*BREADCRUMB*/
.breadcrumb {
    font-size: var(--font-small);
    margin-bottom: 2em;
}

.breadcrumb li:not(:last-child)::after {
    content: '/';
    padding: 0 0.35em;
}
.breadcrumb li:last-child {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--light-text-color);
}

/*SINGLE IMAGE VIEW*/
.products.one .item {
    flex-direction: column;
}
.products.one :where(.big-image, .small-image) {
    overflow: hidden;
}
.products.one .big-image {
    position: relative;
    margin-bottom: 1em;
}
.products.one :where(.big-image, .small-image) img {
    object-fit: cover;
    width: var(--percent100);
    height: var(--percent100);
    display: block;
}
.products.one .thumbnail-show {
    position: relative;
    width: 130px;
    height: 110px;
    overflow: hidden;
    margin: 0 2em 2em 0;
}

/* @media screen and (min-width: 481px) {
    .products.main .item {
        flex: 0 0 50%;
    }

    .products.one .big-image {
        margin-bottom: 2em;
    }
    .products.one .image-show {
        height: 680px;
    }
    .products.one .thumbnail-show {
        height: 160px;
    }
} */

@media screen and (min-width: 768px) {
    .products .price .current {
        font-size: 1.25em;
    }
    .products.one .row {
        flex: 0 0 50%;
        width: 50%;
    }
}

/* .cart-item {
    margin-bottom: 1rem;
} */

/* Banner */
/* .banner-image {
    background: url('img/banner.jpg') no-repeat center center / cover;
    min-height: 600px;
} */

/* Feature Products Card */
/*.card-title a {
    color: #333; 
    text-decoration: none; 
} */

/* Media queries for responsive adjustments
@media (max-width: 768px) {
    .banner-image {
        min-height: 300px; /* Adjust banner image for smaller devices
    }
} */

/* MY OLD CODE */
/* body {
    background-color: #f3e5f4;
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    font-size: 1.35rem;
}

.header {
    background-color: #e396e9;
    max-width: 1350px;
}

nav {
    background-color: #e396e9;
    position: relative;
    max-height: 400px;
}

nav ul li {
    display: grid;
    padding: 0.45rem;
    color: #d42257;
    text-align: center;
    font-size: 1.6rem;
    justify-content: space-around;
}

.bolded {
    font-weight: bold;
}

ul {
    display: grid;
    margin-top: 0.1rem;
}

.active {
    display: grid;
    padding: 0.6rem;
    background-color: #d42257;
    color: #ffffff;
}

.food-about {
    display: grid;
    padding: 0 0.4rem 0.4rem 0.4rem;
}

.gallery {
    background-color: #c8718a;
    border: 2.5px solid #461322;
    padding: 0.5rem;
    list-style: none;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    gap: 0.5rem;
}

.image-gallery {
    width: 90%;
    height: 90%;
    margin: 0.2rem;
    border: 2px solid #461322;
}

.food-gallery {
    background-color: #c8718a;
    border: 2.5px solid #461322;
    padding: 0.5rem;
    display: grid;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    gap: 0.5rem;
}

.center-image-food, .center-image-pet {
    display: grid;
    border: 5px solid #461322;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    width: 90%;
    border-radius: 10%;
    height: 100%;
    object-fit: cover;
}

.center-travel-image-hawaii, .center-travel-image-shanghai, .center-travel-image-vermont{
    display: grid;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    width: 100%;
    margin-bottom: 2rem;
}

.index {
    font-size: 4rem;
}

h1 {
    display: grid;
    margin: auto;
    justify-content: center;
    color: #3a00ff;
    padding: 1rem;
    font-size: 6rem;
}

h2 {
    display: grid;
    color:#991c41;
    margin-top: 14%;
    font-size: 3rem;
}

h3 {
    display: grid;
    margin-top: 10%;
    margin-bottom: 2%;
    font-size: 2rem;
}

.skip-link {
    position: absolute;
    top: auto;
    left: -10000px;
    width: 1px;
    height: 1px;
    background-color: #d42257;
    color: #ffffff;
    font-size: 1.125rem;
    overflow: hidden;
}

.skip-link:focus {
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    padding: 0.5em;
}

.nav-button {
    border: none;
    display: inline-block;
    padding: 10px 16px;
    vertical-align: middle;
    overflow: hidden;
    color: #fff;
    background-color: #991c41;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}

.nav-display-left {
    position: relative;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
}

.nav-display-right {
    position: relative;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
}

@media screen and (min-width: 800px) {
    nav ul {
        display: grid;
        padding: 0.45rem;
        color: #d42257;
        text-align: center;
        font-size: 1.6rem;
        justify-content: space-around;
        grid-template-columns: auto auto auto auto;
        margin-bottom: 0%;
        align-items: center;
    }

    .recipes-about, .pets-about {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        align-items: start;
    }

    .f-about {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 30% 70%;
        align-items: start;
    }

    .gallery {
        background-color: #f3e5f4;
        border: none;
        display: flex;
        gap: 8px;
        padding: 16px;
        margin-bottom: 10%;
        list-style: none;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        column-count: 2;
    }

    .food-gallery {
        background-color: #f3e5f4;
        border: none;
        display: flex;
        gap: 8px;
        padding: 16px;
        margin-bottom: 10%;
        list-style: none;
        overflow-x: scroll;
        width: 100%;
        height: 100%;
        scroll-snap-type: x mandatory;
        justify-content: flex-start;
    }

    .image-gallery {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        border: none;
        height: 485px;
        object-fit: cover;
    }

    .center-image-food, .center-image-pet {
        display: grid;
        border: 5px solid #461322;
        justify-content: space-around;
        align-items: center;
        justify-items: center;
        object-fit: cover;
        border-radius: 10%;
        height: 90%;
        grid-row: 1/-1;
    }

    h2 {
        margin-top: 5%;
    }

    h3 {
        margin-top: 5%;
        margin-bottom: 0px;
    }

    .likes p{
        display: grid;
        justify-items: center;
        text-align: center;
    }

    .likes ul{
        display:grid;
        justify-items: center;
    }

    .likes li{
        list-style-type: '\2764\FE0F';
        justify-content: space-evenly;
        margin: 10px;
    }

    .food-about {
        display: grid;
        padding: 0 0 0 0;
    }

    .ingredients{
        margin-bottom: 0%;
        margin-left: 5%;
    }

    .ingredients li{
        list-style-type: '\2705';
        margin-top: 0.1rem;
    }

    .food-about li ul{
        margin-bottom: 0%;
    }

    ol {
        margin-left: 5%;
    }

    .travel-about {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }

    .travel-about p{
        margin-left: 3%;
        margin-right: 3%;
        margin-top: 3%;
        grid-column: 1/-1;
    }

    .travel-about img {
        object-fit: cover;
    }

    .gallery-desktop {
        display: none;
    }
    .ingredients-desktop {
        display: none;
    }
    .recipe-desktop {
        display: none;
    }
    .center-travel-image-hawaii,
    .center-travel-image-shanghai,
    .center-travel-image-vermont {
        display: grid;
        justify-content: space-around;
        align-items: center;
        justify-items: center;
        width: 100%;
        margin-bottom: 1.5rem;
    }
}

@media screen and (min-width: 1100px) {
    .pets-about {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        align-items: start;
    }

    .recipes-about {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        align-items: start;
    }

    .pets-about p {
        font-size: 1.6rem;
        display: grid;
        justify-items: center;
        text-align: left;
        margin-right: 10%;
    }

    .likes ul {
        display: grid;
        justify-items: left;
        padding-right: 40%;
    }

    .likes h3 {
        padding-right: 5%;
    }

    .likes {
        display: grid;
        justify-items: start;
        padding-right: 100px;
    }

    h3 {
        margin-top: 3%;
        font-size: 2.5rem;
    }

    .pets-about h3{
        margin-top: -2%;
        font-size: 2.5rem;
    }

    .likes li {
        list-style-type: '\2764\FE0F';
        justify-content: space-evenly;
        font-size: 1.5rem;
    }
    .gallery-mobile {
        display: none;
    }
    .gallery-desktop {
        display: block;
    }
    .ingredients-mobile {
        display: none;
    }
    .ingredients-desktop {
        display: block;
    }

    ul.about {
        margin-left: 10px;
    }

    .image-gallery {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        border: none;
        object-fit: cover;
        width: 90%;
    }

    .center-travel-image-hawaii, .center-travel-image-shanghai, .center-travel-image-vermont {
        display: grid;
        justify-content: space-around;
        align-items: center;
        justify-items: center;
        width: 50%;
        margin: 1.5rem;
    }

    h2{
        justify-items: left;
        font-size: 4rem;
        padding-left: 3%;
    }

    .travel-about {
        justify-items: center;
    }

    .center-image-pet {
        height: 80%;
        text-align: left;
        grid-row: 1;
    }

    .center-image-food {
        height: 80%;
        text-align: left;
        grid-row: 1/-1;
    }
} */