@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700;800&family=Rubik:wght@300;400;500;600&display=swap');
/*Fonts
-Poppins
-Rubik
*/

:root {
    --primary-color: #71DD80;
    --secondary-color: #794afa;
    --secondary-dark-color: #453c5c;

    --white-color: #ffffff;
    --light-bg-color: #f2f3f5;
    --light-text-color: #7c899a;
    --border-color: #e5e8ec;
    --dark-color: #0a021c;
    --background-color: #FAF0E7;

    --font-small: 15px;
    --font-smaller: 11px;

    --percent100: 100%;
    --percent50: 50%;

    --fw3: 300;
    --fw5: 500;
    --fw6: 600;
    --fw7: 700;
    --fw8: 800;

    --trans-background-color: background-color .3s color .3s;
    --tans-background: background-color .3s;
    --trans-color: color .3s;
}

/* Navigation */
*{
    margin: 0;
    /* margin-top:0; */
    /* margin-bottom:0; */
    /* padding:0; */
}

*,::before,::after {
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: var(--dark-color);
    background-color: var(--background-color);
}
a {
    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
}

ul {
    list-style: none;
}

img {
    /* max-width: var(--percent100); */
    vertical-align: middle;
}

.logo {
    max-width: 350px;
    padding:30px;
}
strong {
    font-weight: var(--fw8);
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
input::placeholder {
    font: inherit;
}

h1,h2,h3,h4 {
    font-family: 'Poppins';
}

h1 {
    font-size: calc(1.3em + 1vw);
    font-weight: var(--fw8);
    line-height: 1;
}
h2 {
    font-size: 2.5em;
}
h3 {
    font-size: 1.2em;
    font-weight: var(--fw7);
}
h4 {
    font-size: 1em;
    font-weight: var(--fw6);
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 0.938em;
}

.column {
    margin-left: -0.938em;
    margin-right: -0.938em;
    overflow: visible;
    display: flex;
}

.column .left {
    display: block;
    padding: 0 0.938em;
    /* position: sticky;
    top: 10px;
    z-index: 1000; */
}
.column .left .big-image {
    max-width: 500px; /* Ensure the image fits within the container's width */
    height: auto;    /* Maintain the aspect ratio */
}
.column .right {
    padding: 0 0.938em;
}

.reviews {
    padding: 0 0.938em;
}

.flexwrap {
    display: flex;
    flex-wrap: wrap;
}

/* .flexwrap::before, .flexwrap::after {
    content: '';
    display: table;
    clear: both;
} */

.flexcenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexitem {
    display: flex;
    align-items: center;
}

.flexcol {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.main-links a:hover {
    color: var(--light-bg-color);
}

.second-links a:hover {
    color: var(--light-text-color);
}
.icon-small, .icon-large {
    display: flex;
    align-items: center;
    /* padding: 0 0.25em; */
    font-weight: normal;
}
.icon-small {
    font-size: 1.25em;
    margin: auto;
}
.icon-large {
    font-size: 2.3em;
    padding: 0 0.75em 0 0;
}
/*BUTTONS*/
.primary-button, .secondary-button, .light-button {
    font-size: var(--font-small);
    padding: 0.9em 2em;
    height: auto;
    width: fit-content;
    transition: var(--trans-background-color);
    border-radius: 30px;
}
.primary-button {
    background-color: var(--primary-color);
    color: var(--dark-color);
}
.primary-button:hover {
    background-color: var(--dark-color);
    color: var(--white-color);
}
.secondary-button {
    background-color: var(--secondary-dark-color);
    color: var(--white-color);
}
.secondary-button:hover {
    background-color: var(--light-bg-color);
    color: var(--secondary-dark-color);
}
.light-button {
    background-color: var(--light-bg-color);
}
.light-button:hover {
    background-color: var(--secondary-dark-color);
    color: var(--white-color);
}
.view-all {
    font-size: var(--font-small);
    display: flex;
    gap: 1em;
    transition: var(--trans-color);
}

/*HEADER*/
header {
    background-color:#71DD80;
}
header li > a {
    display: flex;
    position: relative;
    line-height: inherit;
    transition: var(--trans-color);
}

/* .header-top, .wrapper {
    font-size: var(--font-small);
    font-weight: var(--fw3);
    justify-content: space-between;
    line-height: 42px;
} */

.header-top {
    font-size: var(--font-small);
    font-weight: var(--fw3);
    justify-content: space-between;
    line-height: 42px;
}

.wrapper {
    font-size: var(--font-small);
    font-weight: var(--fw3);
    justify-content: space-between;
    line-height: 42px;
}

/* .header-top, .wrapper ul {
    gap: 2em;
} */
.header-top li {
    position: relative;
}
.header-top ul ul {
    position: absolute;
    left: -1em;
    right: -1em;
    line-height: 2em;
    background-color: var(--white-color);
    border: 1px solid var(--border-color);
    z-index: 1;
}
.header-nav .right {
    position:relative;
    margin-left: auto;
}

@media screen and (min-width: 992px) {
    .container {
        padding: 0 2em;
    }
}

/*BREADCRUMB*/
.breadcrumb {
    font-size: var(--font-small);
    margin-bottom: 2em;
}

.breadcrumb li:not(:last-child)::after {
    content: '/';
    padding: 0 0.35em;
}
.breadcrumb li:last-child {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--light-text-color);
}

/*SINGLE IMAGE VIEW*/
.description {
    line-height: 1.5;
    margin-bottom: 1.2em;
}
.products.one .item {
    flex-direction: column;
}
.products.one :where(.big-image, .small-image) {
    overflow: hidden;
}
.products.one .big-image {
    position: relative;
    margin-bottom: 1em;
}
.products.one :where(.big-image, .small-image) img {
    object-fit: cover;
    /* width: var(--percent100); */
    height: var(--percent100);
    display: block;
}
.products.one .thumbnail-show {
    position: relative;
    width: 130px;
    height: 110px;
    overflow: hidden;
    margin: 0 2em 2em 0;
}
.products :is(.swiper-button-next, .swiper-button-prev) {
    outline: 0;
    color: var(--secondary-dark-color);
    transition: var(--trans-background), transform .3s;
}
.products .big-image:hover .swiper-button-next {
    transform: translateX(10px);
}
.products .big-image:hover .swiper-button-prev {
    transform: translateX(-10px);
}
.products :is(.swiper-button-next, .swiper-button-prev)::after {
    font-size: 1.5em;
}
.products .big-image:hover :is(.swiper-button-next, .swiper-button-prev) {
    background-color: var(--light-bg-color);
}
.column .product-gallery {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    position: sticky;
    top: 10px;
    z-index: 1000;
}

/* .product-gallery::before, .product-gallery::after {
    content: '';
    display: table;
    clear: both;
} */

/*RIGHT VIEW*/
.products .rating {
    display: flex;
    align-items: center;
    gap: 2em;
}
.products .rating .stars {
    width: 80px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' height='16' fill='rgba(240,187,64,1)'%3E%3Cpath d='M12.0006 18.26L4.94715 22.2082L6.52248 14.2799L0.587891 8.7918L8.61493 7.84006L12.0006 0.5L15.3862 7.84006L23.4132 8.7918L17.4787 14.2799L19.054 22.2082L12.0006 18.26Z'%3E%3C/path%3E%3C/svg%3E");
    background-position-y: top;
    background-repeat: repeat-x;
}
.products.one .add-review {
    color: var(--dark-color);
}
.products.one .price {
    display: flex;
    gap: 1em;
    align-items: center;
    flex-wrap: wrap;
}
.products.one .price .current {
    font-size: 2.0em;
    margin-bottom: 1.0em;
}
.products .variant form {
    display: flex;
    margin-top: 0.5em;
}
.products .variant form p {
    position: relative;
    margin: 0 0.5em 0.5em;
}
.products :where(.variant, .actions) .circle {
    display: block;
    position: static;
    top: 0;
    margin: 0;
    cursor: pointer;
    z-index: 1;
    background-color: transparent;
}
.products .variant input {
    clip: rect(0 0 0 0);
    overflow: hidden;
    position: absolute;
    height: 0;
    width: 0;
}

.products .actions {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em;
}
.products .qty-control {
    width: fit-content;
    /* min-width: 200px; */
    padding: 0.5em;
    border: 1px solid var(--secondary-dark-color);
    margin: 0 2em 0 0;
}
div.qty-control.flexitem  {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.products .actions :where(input, button) {
    font-size: 1.25em;
    outline: 0;
    border: 0;
}
.products .actions input {
    width: 50px;
    text-align: center;
    background-color: transparent;
}
.products .qty-control button::before {
    background-color: transparent;
}
.products .actions .button-cart {
    flex: 1;
    min-width: 200px;
}
.products .actions .button-cart button {
    width: var(--percent100);
    cursor: pointer;
}
.title {
    margin-top: 2.5em;
    margin-bottom: 1em;
    font-weight: bold;
    line-height: 1px;
}

/* .single-product .variant form p input:checked + label {
    background-color: transparent;
    border: 2px solid var(--dark-color);
    color: var(--white-color);
} */
.products .variant label::before {
    opacity: 1;
}
.dog-icon img {
    width: 80px;
}
/* .products .variant label[for="beagle"]::before {
    background-image
*/
.products .collapse .has-child > a {
    position: relative;
    font-weight: var(--fw7);
    text-transform: uppercase;
    padding: 1em 1.25em;
    border-top: 1px solid var(--border-color);
}
.products .collapse .has-child > a::before {
    content: '+';
    position: absolute;
    left: 0;
}
ul.content {
    list-style-type: circle;
}
.rating {
    list-style-type: none;
}
.products .collapse .content {
    margin: 0 0 1.5em 2em;
    font-size: var(--font-small);
}
.products .collapse .content li span:first-child {
    min-width: 100px;
    display: inline-flex;
    font-weight: var(--fw7);
}
.products .collapse .content {
    display: none;
}
.products .collapse .expand .content {
    display: flex;
    flex-direction: column;
}
.products .collapse .expand > a::before {
    content: '-';
}

.off-canvas .has-child > :where(ul, .mega) {
    font-size: var(--font-small);
    font-weight: var(--fw3);
    line-height: 28px;
    padding-left: 3em;

    height: auto;
    max-height: 0;
    /* overflow: hidden; */
    transition: max-height .3s cubic-bezier(0.215, 0.610, 0.355, 1);
}
.off-canvas .expand > :where(ul, .mega) {
    max-height: 2000px;
}

/*RATING*/
.rating-and-reviews {
    display: grid; /* Use grid layout */
    grid-template-columns: 1fr 2fr; /* Adjust proportions */
    gap: 20px; /* Add space between columns */
    align-items: flex-start; /* Align items at the top */
}
ul.review {
    margin-bottom: 2rem;
}
.review-text {
    line-height: 1.5;
}
.rating-summary {
    max-width: 500px;
    /* margin: 2rem auto; */
    padding: 1.5rem;
    border-radius: 10px;
}

.average-rating {
    text-align: center;
    margin-bottom: 1.5rem;
}

.average-rating .average {
    font-size: 3rem;
    font-weight: bold;
    /* color: #d73c25; */
}

.average-rating .stars {
    font-size: 1.8rem;
    color: #f0bb40;
}

.average-rating .half-star {
    color: #ccc; /* Half star in gray */
}

.item .half-star {
    color: #ccc; /* Half star in gray */
}

.average-rating p {
    color: #666;
    font-size: 0.9rem;
    margin-top: 0.5rem;
}

.review-block-body .stars {
    font-size: 1.3rem;
    color: #f0bb40;
}

/* Rating Breakdown */
.rating-breakdown .rating-row {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.7rem;
}

.rating-row .star-text {
    font-weight: bold;
    color: #333;
}

.rating-row .star {
    color: #f0bb40;
    font-size: 1.2rem;
}

.progress-bar {
    flex: 1;
    background-color: #e0e0e0;
    height: 8px;
    border-radius: 5px;
    position: relative;
}

.progress-bar .progress {
    height: 100%;
    background-color: #f0bb40;
    border-radius: 5px;
}

.rating-row .count {
    font-size: 0.9rem;
    color: #666;
    min-width: 40px;
    text-align: right;
}

/*VARIANT LABELS*/
.variant label {
    /* display: inline-block; */
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    transition: all 0.3s ease;
}

.variant input[type="radio"]:checked + label {
    border-color: #007bff;
    background-color: #f0f8ff;
}


/*VERTICAL SLIDER CUSTOMIZATION*/
.small-image {
    width: 90px; /* Adjust width for thumbnails */
    height: 100%; /* Make thumbnails fit */
    overflow: hidden;
}
.small-image .swiper-wrapper {
    display: flex;
    flex-direction: column; /* Align thumbnails vertically */
    align-items: center;
}

.small-image .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px; /* Height for each thumbnail */
    margin-bottom: 10px;
}

.small-image .swiper-slide img {
    /* width: 100%; */
    /* height: auto; */
    object-fit: cover;
    cursor: pointer;
}

.big-image {
    flex: 1;
}

.big-image img {
    width: 100%;
    height: auto;
}
  

/* @media screen and (min-width: 481px) {
    .products.main .item {
        flex: 0 0 50%;
    }

    .products.one .big-image {
        margin-bottom: 2em;
    }
    .products.one .image-show {
        height: 680px;
    }
    .products.one .thumbnail-show {
        height: 160px;
    }
} */

@media screen and (min-width: 768px) {
    .products .price .current {
        font-size: 1.25em;
    }
    .products.one .left {
        flex: 0 0 50%;
        width: 50%;
        /* position: sticky;
        z-index: 10; */
    }
    .products.one .right {
        flex: 0 0 50%;
        width: 50%;
    }
}